.Card {
    width: 98%;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid #000000;
    margin: 2px;

    img {
        height: 220px;
        object-fit: contain;
        flex: 0 1 20%;
    }

    button {
        &:disabled{
            display: none;
        }

        width: 50px;
        height: 50px;
    }

    &__stats {
        margin-left: 30px;
        width: 250px;
        flex: 1 0 50%;
    }

    &__buttons {
        flex: 0 1 10%;
    }
}