.SelectCardModal {
    pointer-events: auto;
    width: 90%;
    height: 90%;
    overflow-y: scroll;

    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 3px solid black;
    border-radius: 25px;

    &__search {
        position: sticky;
        width: inherit;

        input {
            width: 95%;
            padding-left: 15px;
            margin: 5px;
            height: 50px;
            font-size: 30px;
        }
    }

    &__cards {
        width: inherit;
    }
}